textarea {
    min-height: 400px;
}


.divContainer {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  min-height: 50px;               
  padding: 10px;                  
  margin: 5px 0;                  
  border: 1px solid black;         
  color: black;                   
  font-weight: bold; 
  cursor: pointer;            
}

.list{
    display: flex;
    gap: 10px;
}

.subject{
    font-weight: 400;
}

